* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #7D7987;
  font-family: "Mulish", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;

}

/* CONTINER QISMI */

.continer {
  background-color: aqua;
  width: 1120px;
  margin: auto;
}

/* HERADER QISMI */

.header-section {
  display: flex;
  justify-content: space-between;
  padding-block-start: 141px;
}

.header-list{
  width: 545px;
  list-style-type: none;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-list a{
  text-decoration: none;
  color: #7D7987;
  font-family: "Mulish", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
.header-list a:hover {
  color: #1F1534;
  font-family: "Mulish", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  width: 700px;
  size: 18px;
}
.header-list-item {
  margin: 30px;
}

.header-nav {
  padding: 14px;
}

.header-span {
  /* position: absolute; */
  background: #458FF6;
  border-radius: 55px;
  font-family: "Mulish", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  bottom: 88%;
  top: 643px;
  width: 200px;
  height: 56px;
  margin-top: 48px;
}
.header-span a {
  text-decoration: none;
}

.header-h2 {
  font-family: "Mulish", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  width: 427px;
  height: 112px;
  color: #000;
  top: 427px;
  left: 112px;
}

header p {
  width: 445px;
  height: 96px;
  top: 499px;
  left: 246px;
  margin-top: 25px;
}

.header-title {
  width: 445px;
  height: 338px;
  left: 246px;
  top: 362px;
}

.header-images {
  width: 693px;
  height: 598px;
  top: 256px;
}

/* MAIN QISMI */

.main-h2 {
  font-family: "Mulish", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000;
  text-align: center;
  margin-top: 113px;
}

main hr {
  background: #000;
  border-radius: 5px;
  width: 56px;
  height: 2px;
  margin-top: 26px;
  margin: auto;
}

.main-list {
  width: 952px;
  height: 60px;
  margin: auto;
  font-size: 18px;
  line-height: 30px;
  margin-top: 33px;
}

.main-items {
  background-color: #fff;
  width: 350px;
  height: 354px;
  margin: 10px;
  padding-top: 54px;
  padding-left: 70px;
  box-shadow: 10px 40px 50px
    rgba(229, 233, 246, 0.4);
  border-radius: 20px;

}

.main-ul {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 1120px;
  margin-top: 80px;
  justify-content: space-between;

}

.main-h3 {
  margin-top: 20px;
  font-family: "Mulish", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000;
}

.main-poragraf {
  font-family: "Mulish", "Arial", sans-serif;
  width: 261px;
  height: 84px;
  font-size: 16px;
  line-height: 28px;
}

.main-span {
  border: 1px solid #458FF6;
  color: #458FF6;
  border-radius: 55px;
  width: 200px;
  height: 60px;
  margin-top: 108px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
}
.main-span a {
  text-decoration: none;
}

.main-images {
  width: 650px;
  height: 477px;
}
.main-section {
  display: flex;
  justify-content: space-between;
  margin-top: 220px;
}

.main-title {
  width: 486px;
  height: 388px;
}

.main-h2-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000;
  margin-top: 30px;
}

.main-list-par {
  width: 450px;
  height: 120px;
  font-size: 16px;
  line-height: 30px;
  margin-top: 31px;
}

.main-hr {
  background: #000;
  width: 56px;
  height: 4px;
  border-radius: 10px;
  margin-top: 26px;
  margin-left: 20px;

}

.main-h2-download {
  width: 254px;
  height: 96px;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  color: #000;
  padding-left: 20px;
  margin-top: 0px;
}

.main-section-blue {
  background: linear-gradient(288.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24;
  height: 425px;
}

.main-section-blue-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #fff;
  width: 522px;
  height: 48px;
  margin: auto;
  padding-top: 64px;
}

.main-list-blue {
  display: flex;
  justify-content: space-between;
  margin-left: 54px;
  color: #fff;
  margin-top: 160px;
}

.main-h3-blue {
  color: #fff;
  /* margin-left: 5px; */
  margin-top: 25px;
}

.main-list-blue-par {
  width: 420px;
  height: 120px;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.main-right-left {
  width: 336px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 43px;
}

.main-items-end {
  background: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 28px;
  width: 350px;
  height: 512px;
}
.main-items-img {
  width: 350px;
  height: 240px;
  background: #fff;
  border-radius: 20px 20px 0px 0px;
}

.main-h3-end {
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 64px;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #000;
}

main a {
  text-decoration: none;
  color: #458FF6;
  font-size: 18px;
}
footer{
    margin:auto;
    margin-top: 200px;
    width: 1600px;
    height: 432px;
    background-color: #67C3F3;
}
footer{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    padding: 100px 0;
}
.footer-info{
    width: 391px;
}
.footer-info p{
    color: #fff;
    margin-bottom: 30px;
}
.footer-info span{
    color: #fff;
}
.footer-logo{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.footer-logo span{
    background-color: #fff;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5A98F2;
    font-weight: bold;
}
.footer-logo b {
 color: #fff;
}
.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list a{
    width: 200px;
    list-style-type: none;
    text-decoration: none;

}
.list-ietm{
    color: #fff;
    padding-bottom: 15px;
    /* margin-bottom: 35px; */

}
.list-ietm a{
    text-decoration: none;
    color: #fff;
}